.loader{
    transform-origin: center;
    animation: scale 2000ms ease-in-out forwards;
    animation-iteration-count: infinite;
}
    @keyframes scale {
    0% {
        transform: scale(0.3);
    }
    50% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(0.3);
    }
}

@font-face {
    font-family: "Titan One";
    src: url("/media/fonts/TitanOne-Regular.ttf");
}

.center {
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}

.menu-container {
    position: relative;
}

.menu-container > img {
    width: 100%;
    height: auto;
}

.hidden-element {
    display: none;
}

.absolute-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

.ui-text {
    font-family: 'Titan One';
    font-size: 2vw;
    color: white;
    text-shadow: 3px 2px 0px #353535;
}

.menu-items {
    position: absolute;
    width: 100%;
    top: 48%;
}

.menu-items button {
    background: none;
    border: none;
    width: 40%;
    height: auto;
}

.menu-items a {
    display: block;
    width: 40%;
    height: auto;
}

.menu-items button > img, .menu-items a > img, .pause-menu-items button > img, .pause-menu-items a > img{
    width: 100%;
    height: auto;
}

.pause-menu-items {
    position: absolute;
    width: 100%;
    top: 25%;
}

.pause-menu-items button {
    background: none;
    border: none;
    padding: 0;
    width: 60%;
    height: auto;
    display: block;
}

.pause-menu-items a {
    display: block;
    width: 60%;
    height: auto;
}

#close-btn {
    background: none;
    border: none;
    position: absolute;
    padding: 0;
    left: 75%;
    top: -1%;
    width: 27%;
    height: auto;
}

#close-btn > img {
    width: 100%;
    height: auto;
}

.ui-btn:hover {
    transform: scale(1.05);
}

.ui-btn:active {
    transform: scale(1);
}